@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

.hero-section {
  background-image: url(./images/blog-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 50vh;
}
.hero-wrap {
  width: 82%;
  margin: 0 auto;
  text-align: start;
  padding-top: 14rem;
}
.hero-section h1 {
  text-align: center;
  font-size: clamp(2.2rem, 4vw, 3.7rem);
  font-weight: 800;
}
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.next button {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-block: clamp(0.9rem, 1.5vw, 1.25rem);
  padding-inline: clamp(1.2rem, 3vw, 2.5rem);
  font-style: normal;
  font-weight: 600;
  font-size: clamp(0.9rem, 1.5vw, 1.25rem);
  text-align: center;
  color: #1c2752;
  background-color: #ffb342;
  border: none;
}
.next button:hover {
  transform: scale(0.9);
  transition: 0.5s;
  color: #ffffff;
}
.mobile-part {
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.part-wrap {
  /* width: 80%;
  margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(1.2rem, 3vw, 2.5rem);
}
.part-wrap h3 {
  max-width: 579px;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(1rem, 2vw, 1.875rem);
  color: #1c2752;
}
.part-wrap p {
  max-width: 584px;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.8rem, 1.3vw, 1.125rem);
  color: #7e7e7e;
}
.part-wrap h4 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: clamp(0.9rem, 1.5vw, 1.25rem);
  color: #1c2752;
}
.part-wrap .mobile-img img {
  width: clamp(14rem, 28.5vw, 28.125rem);
}
@media (max-width: 849px) {
  .hero-section {
    background-image: url(./images/about-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 30vh;
  }
  .hero-wrap {
    width: 82%;
    margin: 0 auto;
    text-align: start;
    padding-top: 7rem;
  }
}

@media (width > 601px) {
  .blogs-and-articles {
    display: flex;
  }
}
@media (max-width: 600px) {
  .blogs-and-articles {
    display: none;
  }

  .part-wrap h3 {
    text-align: center;
  }
  .mobile-part {
    padding-block: 40px;
    padding-inline: 20px;
    display: flex;
  }
  .part-wrap .mobile-img img {
    width: 300px;
  }
  .part-wrap .mobile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
}
@media (max-width: 425px) {
  .hero-wrap {
    width: 82%;
    margin: 0 auto;
    text-align: start;
    padding-top: 5rem;
  }
}
