@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

.hero-section {
  background-image: url(./images/industry-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 50vh;
}
.hero-section h1 {
  text-align: center;
  font-size: clamp(2.2rem, 4vw, 3.7rem);
  font-weight: 800;
  color: #fff;
}
.quick-contact {
  width: 100%;
  padding-block: clamp(2.5rem, 5vw, 5rem);
}
.quick-contact-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-branch {
  display: flex;
  padding-block: clamp(2rem, 5vw, 4rem);
}
.main-one,
.main-two,
.main-three {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.main-one h4,
.main-three h4 {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(1.25rem, 2vw, 1.562rem);
  color: #1c2752;
}
.main-one h2,
.main-three h2 {
  font-style: normal;
  font-weight: 800;
  font-size: clamp(1rem, 2vw, 1.875rem);
  color: #ffffff;
}
.main-one button,
.main-three button {
  padding-block: clamp(0.9rem, 1.4vw, 1.25rem);
  padding-inline: clamp(1.5rem, 3.5vw, 3.125rem);
  background-color: #1c2752;
  color: #fff;
  font-size: clamp(0.8rem, 1.3vw, 1.125rem);
  border: none;
  margin-top: clamp(1rem, 2vw, 1.875rem);
}
.main-one,
.main-three {
  background: #ffb342;
  padding-inline: clamp(1.25rem, 3vw, 2.5rem);
  padding-block: clamp(1.5rem, 3.5vw, 3.125rem);
}
.main-two {
  display: flex;
  justify-content: start;
  align-items: start;
  background-color: #1c2752;
  padding-inline: clamp(3.1rem, 6.5vw, 6.25rem);
  padding-block: clamp(1.5rem, 3.5vw, 3.125rem);
}
.main-two div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: clamp(0.9rem, 1.4vw, 1.25rem);
}
.main-two h4 {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(1.25rem, 2vw, 1.562rem);
  color: #ffb342;
}
.main-two h5 {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.8rem, 1.4vw, 1.125rem);
  color: #ffb342;
}
.main-two p {
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.8rem, 1.4vw, 1.125rem);
  color: #ffffff;
}
/* MEDIA QUERY */
@media (max-width: 849px) {
  .hero-section {
    background-image: url(./images/about-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 30vh;
  }
  .hero-wrap {
    padding-top: 6rem;
  }
}
@media (max-width: 699px) {
  .main-branch {
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .hero-wrap {
    width: 82%;
    margin: 0 auto;
    text-align: start;
    padding-top: 5rem;
  }
}
