@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

.hero-section {
  background-image: url(./images/david-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 50vh;
}
.hero-section h1 {
  text-align: center;
  font-size: clamp(2.2rem, 4vw, 3.7rem);
  font-weight: 800;
}

.hero-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 82%;
  margin: 0 auto;
  text-align: start;
  padding-top: 12rem;
}
.role-wrap span {
  font-style: normal;
  font-weight: 500;
  font-size: clamp(0.8rem, 1.3vw, 1.125rem);
  color: #ffffff;
}
.role-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0.2);
  padding: 5px;
}
.role-wrap img {
  width: clamp(0.9rem, 1.4vw, 1.25rem);
}
.role {
  display: flex;
  justify-content: center;
  align-items: center;
}
.devid {
  width: 100%;
  padding-block: clamp(2.5rem, 6rem, 5rem);
  padding-inline: clamp(1.25rem, 3vw, 2.5rem);
}
.devid-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.devid-profile h3 {
  font-style: normal;
  font-weight: 800;
  font-size: clamp(1rem, 2vw, 1.875rem);
  color: #1c2752;
}
.devid-profile p {
  max-width: 602.5px;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.8rem, 1.3vw, 1.125rem);
  color: #7e7e7e;
}
.devid-profile > div {
  display: flex;
  flex-direction: column;
  gap: clamp(0.9rem, 1.4vw, 1.25rem);
}
.devid-profile .contact-info {
  display: flex;
  flex-direction: column;
  gap: clamp(0.9rem, 1.4vw, 1.25rem);
}
.contact-info div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.devid-profile button {
  padding-block: clamp(0.9rem, 1.4vw, 1.25rem);
  padding-inline: clamp(1.2rem, 2.5vw, 2.375rem);
  background-color: #ffb342;
  border: none;
  display: flex;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
  font-size: clamp(0.9rem, 1.4vw, 1.25rem);
  color: #1c2752;
}
.devid-profile {
  display: flex;
  gap: clamp(1.25rem, 3vw, 2.5rem);
}
.qualification h1 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: clamp(1.4rem, 3vw, 2.81rem);
  color: #1c2752;
}
.qualification {
  display: flex;
  flex-direction: column;
  gap: clamp(0.9rem, 1.4vw, 1.25rem);
  padding-top: 40px;
}
.qualification p {
  max-width: 1200px;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.8rem, 1.3vw, 1.125rem);
  color: #7e7e7e;
}
.qualification h2 {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(1rem, 2vw, 1.875rem);
  color: #1c2752;
}
.qualification ul,
ol {
  display: flex;
  flex-direction: column;
  gap: clamp(0.9rem, 1.4vw, 1.25rem);
  padding-left: clamp(1rem, 2vw, 1.875rem);
}
.qualification li {
  font-style: normal;
  font-weight: 500;
  font-size: clamp(0.8rem, 1.3vw, 1.125rem);
  color: #7e7e7e;
}
/* MEDIA QUERY */
@media (max-width: 810px) {
  .devid-profile {
    flex-direction: column;
  }
  .devid-profile > img {
    width: 400px;
    margin: 0 auto;
  }
  .qualification {
    padding-top: 30px;
  }

  .hero-section {
    background-image: url(./images/about-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 30vh;
  }
  .hero-wrap {
    padding-top: 6rem;
  }
}
@media (max-width: 425px) {
  .hero-wrap {
    width: 82%;
    margin: 0 auto;
    text-align: start;
    padding-top: 5rem;
  }
}
@media (max-width: 424px) {
  .devid-profile > img {
    width: 300px;
    margin: 0 auto;
  }
}
