@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

.hero-section {
  background-image: url(./images/industry-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 50vh;
}
.hero-section h1 {
  text-align: center;
  font-size: clamp(2.2rem, 4vw, 3.7rem);
  font-weight: 800;
  color: #fff;
}
.project-information {
  width: 100%;
  padding-block: clamp(2.5rem, 6vw, 5rem);
}
.information-wrap {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 2vw, 1.875rem);
}
.client-category {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(1.25rem, 3vw, 2.5rem);
}
.category1 {
  display: flex;
  flex-direction: column;
  gap: clamp(0.9rem, 1.4vw, 1.25rem);
  padding: clamp(1.25rem, 3vw, 2.5rem);
  background-color: #f4f4f4;
}
.category1 > div:first-child {
  border: none;
}
/* .yellow-line {
  height: 2px;
  width: 2px;
  background-color: #ffb342;
} */
.category1 div {
  display: flex;
  flex-direction: column;
  gap: 6px;
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: clamp(0.9rem, 1.4vw, 1.25rem);
}
.category1 div h3 {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.9rem, 1.4vw, 1.25rem);
  color: #1c2752;
}
.category1 p {
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.8rem, 1.3vw, 1.125rem);
  color: #7e7e7e;
}
.category2 div {
  height: clamp(16rem, 39vw, 38.75rem);
  width: clamp(25rem, 51vw, 50rem);
}
.category2 div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-description {
  display: flex;
  flex-direction: column;
  width: 74%;
  margin: 0 auto;
  gap: clamp(0.9rem, 1.4vw, 1.25rem);
}
.project-description h1 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: clamp(1.4rem, 3vw, 2.812rem);
  color: #1c2752;
}
.project-description ul {
  display: flex;
  flex-direction: column;
  gap: clamp(0.9rem, 1.4vw, 1.25rem);
  padding-left: clamp(0.9rem, 1.4vw, 1.25rem);
}
.project-description ol {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: clamp(0.9rem, 1.4vw, 1.25rem);
}
.project-description ul li,
ol li {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.8rem, 1.3vw, 1.125rem);
  color: #7e7e7e;
}
.project-description p {
  max-width: 1100px;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.8rem, 1.3vw, 1.125rem);
  /* margin: 0 auto; */
  /* line-height: 144.52%; */
  color: #7e7e7e;
}
.project-description p:nth-of-type(2),
.project-description p:nth-of-type(3) {
  max-width: 766.75px;
}
.machine-issue {
  display: flex;
  flex-direction: column;
}
.machine-issue h1 {
  display: flex;
  align-self: center;
  font-style: normal;
  font-weight: 800;
  font-size: clamp(1.4rem, 3vw, 2.812rem);
  color: #1c2752;
}
/* MEDIA QUERY */
@media (max-width: 1441px) {
  .category2 div {
    height: clamp(20rem, 43vw, 42.75rem);
    width: clamp(25rem, 51vw, 50rem);
  }
}
@media (max-width: 1024px) {
  .category2 div {
    height: clamp(22rem, 45vw, 44rem);
    width: clamp(25rem, 51vw, 50rem);
  }
  .project-description {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 769px) {
  .category2 div {
    height: clamp(27rem, 50vw, 49rem);
    width: clamp(25rem, 51vw, 50rem);
  }
  .project-description {
    width: 100%;
    margin: 0 auto;
  }

  .hero-section {
    background-image: url(./images/about-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 30vh;
  }
}
@media (max-width: 750px) {
  .client-category {
    flex-direction: column-reverse;
  }
  .category1 {
    width: 100%;
  }
  .project-description {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .category2 div {
    width: 300px;
  }
  .project-description {
    width: 100%;
    margin: 0 auto;
  }

  .hero-wrap {
    width: 82%;
    margin: 0 auto;
    text-align: start;
    padding-top: 5rem;
  }
}
