@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

.hero-section {
  background-image: url(./images/industry-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 50vh;
}
.hero-section h1 {
  font-size: clamp(2.2rem, 4vw, 3.7rem);
  font-weight: 800;
  color: #fff;
}
.hero-wrap {
  padding-top: 13rem;
}
.header-wrap {
  display: flex;
  justify-content: flex-start;
}
.header-wrap h3 {
  border: none;
}
.our-packages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-block: 4rem;
}
.section-one h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  text-align: center;
  color: #1c2752;
}
.section-one p {
  max-width: 687px;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.9rem, 1.3vw, 1.125rem);
  color: #7e7e7e;
  text-align: center;
}
.section-one .toggles {
  display: flex;
  justify-content: center;
}
.section-one {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.toggles h4 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.9rem, 1.4vw, 1.25rem);
  text-align: center;
  color: #1c2752;
}
.toggles div:first-child {
  border: 2px solid #ffb342;
  padding-block: clamp(0.9rem, 1.4vw, 1.25rem);
  padding-inline: clamp(1.5rem, 3.5vw, 3.125rem);
}
.toggles div:last-child {
  background-color: #ffb342;
  padding-block: clamp(0.9rem, 1.4vw, 1.25rem);
  padding-inline: clamp(1.5rem, 3.5vw, 3.125rem);
}
.section-two {
  border: 1px solid #d7d7d7;
}
.table-body,
.table-head {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px solid #d7d7d7;
}
.section-two h1 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: clamp(1.2rem, 2vw, 1.875rem);
  color: #1c2752;
}
.section-two h3 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  padding: clamp(0.9rem, 1.4vw, 1.25rem);
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: #1c2752;
}
.section-two p {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #7e7e7e;
}
.two,
.three,
.four {
  text-align: center;
  padding: clamp(0.9rem, 1.4vw, 1.25rem);
}
.one,
.two,
.four {
  background: #f4f4f4;
  padding: clamp(0.9rem, 1.4vw, 1.25rem);
}

.three {
  background: #fff;
  padding: clamp(0.9rem, 1.4vw, 1.25rem);
}
.pop {
  background-color: #ffb342;
  width: 100%;
  padding: 10px;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  margin-top: -1.3rem;
}

.table-head div:nth-child(2),
.table-head div:nth-child(3),
.table-head div:last-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.table-head div:first-child,
.table-head div:nth-child(2),
.table-head div:last-child {
  padding-top: clamp(1.5rem, 4vw, 3rem);
}

.buy {
  background-color: #ffb342;
  font-size: 1rem;
  font-weight: 600;
  padding-block: 1rem;
  padding-inline: clamp(1rem, 2.3vw, 2.187rem);
  border: none;
}

/* MEDIA QUERY */

@media (max-width: 849px) {
  .hero-section {
    background-image: url(./images/about-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 30vh;
  }
}
@media (max-width: 767px) {
  .table-head .three,
  .table-head .four {
    display: none;
  }

  .three,
  .four {
    display: none;
  }
}
@media (max-width: 425px) {
  .hero-wrap {
    width: 82%;
    margin: 0 auto;
    text-align: start;
    padding-top: 5rem;
  }
  .table-body,
  .table-head {
    display: none;
    /* width: 700px; */
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 1px solid #d7d7d7;
    overflow-x: scroll;
  }
}
