@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

.hero-section {
  background-image: url(./images/industry-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 50vh;
}
.hero-section h1 {
  font-size: clamp(2.2rem, 4vw, 3.7rem);
  font-weight: 800;
  color: #fff;
}
.hero-wrap {
  padding-top: 13rem;
}
.header-wrap {
  display: flex;
  justify-content: flex-start;
}
.header-wrap h3 {
  border: none;
}
.h .our-packages {
  width: 100%;
}
.our-package-wrap {
  width: 80%;
  margin: 0 auto;
}
.duration {
  display: flex;
  flex-direction: column;
  gap: clamp(0.9rem, 1.5vw, 1.25rem);
}
.duration h1 {
  font-style: normal;
  font-weight: 800;
  font-size: clamp(1.4rem, 3vw, 2.81rem);
  color: #1c2752;
  margin: 0 auto;
}
.duration p {
  max-width: 687px;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.8rem, 1.3vw, 1.125rem);
  color: #7e7e7e;
  margin: 0 auto;
}
.duration .month-card {
  display: flex;
  justify-content: center;
}
.month-card div {
  padding-block: clamp(0.9rem, 1.5vw, 1.25rem);
  padding-inline: clamp(1.5rem, 3.3vw, 3.125rem);
  font-style: normal;
  font-weight: 600;
  font-size: clamp(0.9rem, 1.5vw, 1.25rem);
  color: #1c2752;
}
.month-card div:first-child {
  border: 2px solid #ffb342;
}
.month-card div:last-child {
  border: 2px solid #ffb342;
  background-color: #ffb342;
}

.table {
  width: 70%;
  margin: 0 auto;
  padding-inline: clamp(1.4rem, 3vw, 2.81rem);
  padding-block: clamp(2.5rem, 6vw, 5rem);
}
.serve-sub {
  display: flex;
  flex-direction: column;
  gap: 10px;
  white-space: nowrap;
}
.row {
  display: grid;
  grid-template-columns: repeat(4, 600px 200px 200px 200px);
  padding-inline: clamp(1.4rem, 3vw, 2.81rem);
}
.table .one,
.two,
.three,
.four {
  display: flex;
  padding-block: clamp(1rem, 2vw, 1.875rem);
  padding-inline: clamp(1rem, 2vw, 1.875rem);
  white-space: nowrap;
  border-bottom: 1px solid #d7d7d7;
}
.table .one,
.two,
.four {
  background: #f4f4f4;
}
.three {
  background-color: #ffffff;
}
.table h1 {
  font-weight: 800;
  font-size: clamp(1rem, 2vw, 1.875rem);
  color: #1c2752;
}
.table h3 {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.9rem, 1.5vw, 1.25rem);
  color: #1c2752;
}
.table p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #7e7e7e;
}
.table-row button {
  padding-block: 1rem;
  padding-inline: clamp(1rem, 2vw, 1.875rem);
  background-color: #ffb342;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: clamp(0.9rem, 1.5vw, 1.25rem);
  text-align: center;
  color: #1c2752;
}
.popular {
  padding: 3px 30px;
  background-color: #ffb342;
  border: none;
}
.two,
.three,
.four {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* MEDIA QUERY */
@media (max-width: 1440px) {
  .table {
    width: 80%;
    margin: 0 auto;
    padding-inline: clamp(1.4rem, 3vw, 2.81rem);
    padding-block: clamp(2.5rem, 6vw, 5rem);
  }

  .row {
    display: grid;
    grid-template-columns: repeat(4, 400px 200px 200px 200px);
  }
}
@media (max-width: 1024px) {
  .row {
    display: grid;
    grid-template-columns: repeat(4, 200px 170px 170px 170px);
    white-space: wrap;
  }
}
@media (max-width: 900px) {
  .table {
    overflow-x: scroll;
  }
}
@media (max-width: 849px) {
  .hero-section {
    background-image: url(./images/about-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 30vh;
  }
}
@media (max-width: 425px) {
  .hero-wrap {
    width: 82%;
    margin: 0 auto;
    text-align: start;
    padding-top: 5rem;
  }
}
